@import '../guide-styles/guide.scss';

// Main Container
.main-wrapper {
	display: grid;
	grid-template-rows: 50px auto auto;
	gap: 25px;
	width: 420px;
	height: 420px;
	padding: 30px;
	font-family: $primary-font;
	background-color: $dark-blue;
	border-radius: 20px;
}

// Icon Section
.star-icon {
	@include flexbox(row, center, center);
	width: 50px;
	height: 50px;
	background-color: $medium-gray;
	border-radius: 100%;
}

// Rating Description Section
.rating-section {
	@include flexbox(column, center, start, 20px);
}
.rating__title {
	margin: 0;
	font-size: $lg-size;
	color: $white;
}
.rating__description {
	margin: 0;
	font-size: $sm-size;
	color: $light-gray;
}
.rating__options {
	@include flexbox(row, space-between, center);
	width: 100%;
	height: 70px;
}
.rate__item {
	@include flexbox(row, center, center);
	width: 50px;
	height: 50px;
	font-size: $md-size;
	color: $light-gray;
	background-color: $medium-gray;
	border: none;
	border-radius: 100%;
	transition: transform 600ms;
	&:hover {
		color: $white;
		background-color: $light-gray;
		cursor: pointer;
		transform: scale(1.1);
	}
}
input:checked + label {
	color: $white;
	background-color: $orange;
	transform: scale(1.1);
}

// Submit Button
.submit__btn {
	width: 100%;
	height: 45px;
	padding: 10px;
	font-size: $md-size;
	color: $white;
	background-color: $orange;
	border: none;
	border-radius: 20px;
	&:hover {
		cursor: pointer;
	}
	&:active {
		color: $orange;
		background-color: $white;
	}
}
