@import '../guide-styles/guide.scss';

// Main Container
.main-wrapper {
	display: grid;
	grid-template-rows: auto auto;
	gap: 20px;
	width: 420px;
	height: 420px;
	padding: 30px;
	font-family: $primary-font;
	background-color: $dark-blue;
	border-radius: 20px;
}

// User Rate Section
.rate-result {
	@include flexbox(column, center, center, 20px);
}
.rate-result__user {
	@include flexbox(row, center, center);
	width: 220px;
	height: 30px;
	background-color: $medium-gray;
	border-radius: 20px;
	p {
		margin: 0;
		font-size: $sm-size;
		color: $orange;
	}
}

// Result Description
.rate-result__description {
	@include flexbox(column, center, center, 10px)
}
.rate-result__title {
	margin: 0;
	font-size: $lg-size;
	color: $white;
}
.rate-result__text {
	text-align: center;
	font-size: $md-size;
	color: $light-gray;
}